.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.btn-closeSideNav {
  margin-left: 5%;
  margin-top: 5px;
  cursor: pointer;
}

.btn-closeSideNav button {
  color: rgb(240, 97, 97);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#main {
  transition: margin-right 0.3s;
}

@media screen and (max-height: 450px) {
  .sideNav {
    padding-top: 15px;
  }
  .sideNav a {
    font-size: 18px;
  }
}
